body {
	font-family: monospace;
	
}

th, td {
	color: #ff8888;
}

#expand-toggle {
	display: none;
}

.expandable {
	visibility: collapse;
	background: #88ff88;
	color: white;
}

#expand-btn:after{
	content: "Mostra righe";
	display: inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background-color: #ff8888;
	border: 1px solid;
	border-radius: 3px;
	transition: 0.3s;
} 

#expand-toggle:checked ~* .expandable{
	color: black;
	visibility: visible;
	

}

#expand-toggle:checked ~ #expand-btn:after{

	content: "Nascondi righe";
	
	
	

}
