body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5,1fr);
}


#green{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

#yellow{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#red{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

#blue{
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}

#orange{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   
}