.body{margin: 0;}

aside{
    box-sizing: border-box;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background:lightsteelblue;
    justify-content: center;
    

}
.logo{
    align-self:center;
}

.links{
   align-self: start ;
    
}


a {
    color: #2b2b2b;
    text-decoration: none; 
}

a:hover{
    color: #2b2bb2;
    transition: 0.3s;
}

li{
    list-style: none;
    line-height: 2em
}

.avatar{
    align-self: center;
}

