body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* card body */

.card1 {
  background: linear-gradient(gray, lightgray);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 24.188rem;
  height: 34rem;
  box-shadow: 0 3px 10px gray;
}

.card2 {
  background: linear-gradient(gray, lightgray);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 24.188rem;
  height: 34rem;
  box-shadow: 0 3px 10px gray;
}
.card3 {
  background: linear-gradient(gray, lightgray);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 24.188rem;
  height: 34rem;
  box-shadow: 0 3px 10px gray;
}

.head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.circle {
  margin-left: 0.5rem;
  grid-column: 1 / 2;
  justify-self: start;
  align-self: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
}

.gatto1 {
  overflow: hidden;
}

/* cat images */
.cat2, .cat3{
  width: 387px;
  height: 312px;
}
/* svgs */
.logo {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

.logo2 {
  margin-left: 15px;
}

.menu {
  margin-right: 0.5rem;
  grid-column: 3 / 4;
  align-self: center;
  justify-self: end;
  width: 1.8rem;
  height: 1.8rem;
}

.name {
  margin-left: -4rem;
  grid-column: 2 / 2;
  justify-self: start;
}

.date {
  font-size: smaller;
  color: white;
}

.cat {
  font-weight: bold;
}

.comment {
  text-align: justify;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: left;
  }
  .card1 {
    grid-column: 1;
    grid-row: 1;
  }
  .card2 {
    grid-column: 2;
    grid-row: 1;
  }

  .card3 {
    grid-column: 1;
    grid-row: 2;
  }
}

@media screen and (max-width: 378px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
