:root{
    --body-bgc: #011212; 
    --ball-color:#ff8800;
    --ball-height: 100px;
    --ball-width: 100px;
    --ball-border-radius: 50px;

}



body {
  
    background-color: var( --body-bgc);
}

.ball {
    width: var(--ball-width);
    height: var(--ball-height);
    background-color: var(--ball-color);
    border-radius: var(--ball-border-radius);
}