body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
}

#yellow{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

#blue{
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

#orange {
    grid-column: 2 / 5;
    grid-row: 2;
}

#red{
    grid-column: 2 / 5;
    grid-row: 3;
}

#green{
    grid-column: 2 / 5;
    grid-row: 4;
}

ul{
    align-items: center;
    display: flex;
}

#yellow > ul > li:nth-child(1){
    padding-left: 3em ;
    padding-right: 3em;
    
  
}

#red > ul {
    display: flex;
    flex-direction: row-reverse;
}





  